---
---

@import "{{ site.theme }}";
.page-header {
    color: #FFFFFF;
    text-align: center;
    background-color: #5F87D7;
    background-image: linear-gradient(120deg, #5F87D7, #5F87D7);
}
.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.9
}
.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #000000
}
#wrapper {
  width: 500px;
  overflow: hidden;
}
#first {
  width:250px;
  float: left;
}
#second {
  overflow: hidden;
}
